﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="jumbotron">
        <h1>GymFreak - Twoje miejsce na trening</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-push-4">
        <h2>Wybierz sekcje:</h2>
        <ul>
            <li><a href="@Url.Action("Index","Exercise")">Ćwiczenia</a></li>
            @*<li><a href="@Url.Action("Index","Training")">Schemat treningowy</a></li>*@
            @*<li><a href="@Url.Action("Index","UserTraining")">Spontaniczny trening</a></li>
            <li><a href="@Url.Action("Index","TrainingProgram")">Plan Treningowy</a></li>*@
        </ul>
    </div>

</div>
