﻿@model GymFreak.Website.ViewModels.Exercise.ExerciseViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ExerciseViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reps)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reps)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sets)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sets)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExerciseBreak)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExerciseBreak)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Measure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Measure)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
